@import '../../../styles/base/variables';

.success-message .MuiSnackbarContent-root {
  // position: relative;
  background-color: $alert-sucess !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 10px 35px 10px 10px !important;
  .MuiSnackbarContent-message {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42;
    padding: 0;
  }
  // display: inline-block;
  // color: $white;
  // position: fixed;
  // top: 20px;
  // margin: 0 auto;
  // max-width: fit-content;
  // left: 0;
  // padding: 10px;
  // right: 0;
  // padding-right: 35px;
  .cross-btn {
    color: $white;
    position: absolute;
    right: 8px;
    top: 14px;
  }
}
